

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}


#particles-js{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(blockchain.jpg);
    background-size: cover;
    background-position: center;
}